In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('table2.csv')

## Select useful columns

In [3]:
data = data.iloc[:,[3,5]]

In [4]:
data.tail(10)

                                               项目名称    工程数量
571                                           顶面灯带槽  54.95
572                                 顶面吊顶处防指纹拉丝不锈钢线条  37.02
573                                            其它项目     NaN
574                                         隔断底部挡水条   3.46
575                                        实木扶手玻璃栏板   5.45
576                                    投标单位增加项目清单部分     NaN
577  按分包通用合同条款、专用条款及技术要求完成本工程所需但未在上出列项目费用(请分项详列于下)：     NaN
578                                             NaN     NaN
579                                             NaN     NaN
580                                            合  计     NaN

## Drop unuseful rows

In [5]:
rows_to_drop = [n for n in range(576,581)]
rows_to_drop

[576, 577, 578, 579, 580]

In [6]:
data = data.drop(rows_to_drop ).drop([0,1])

data.tail(10)

                项目名称    工程数量
566    轻钢龙骨防水石膏板造型吊顶   8.60
567     顶面刮耐水腻子刷无机涂料  97.88
568   顶面刮耐水腻子刷防水无机涂料   8.60
569         管道处成品检修口   1.00
570            暗式窗帘盒  11.56
571            顶面灯带槽  54.95
572  顶面吊顶处防指纹拉丝不锈钢线条  37.02
573             其它项目     NaN
574          隔断底部挡水条   3.46
575         实木扶手玻璃栏板   5.45

In [7]:
#因为包含项目的选项为空值，因此将其去除
data = data[~data['项目名称'].str.contains('项目')]

In [8]:
data = data.reset_index(drop=True)

In [9]:
apt_type = data[data['工程数量'].isna()].iloc[:,0:1]
apt_type

       项目名称
0     A-1-2
51    A-2-2
100  A-3-2下
149  A-3-2上
188   B-1-1
234   B-2-1
278  B-3-1下
323  B-3-1上
359   C-1-1
405   C-2-1
449  C-3-1下
494  C-3-1上

In [10]:
# add new column
data['户型']=np.nan

In [11]:
data.head()

              项目名称    工程数量  户型
0            A-1-2     NaN NaN
1  地面400*400mm地砖铺贴   4.88  NaN
2  地面800*800mm地砖铺贴  54.33  NaN
3  地面800*400mm地砖铺贴   5.61  NaN
4             地面美缝  56.38  NaN

In [15]:
apt_index = apt_type.index.tolist()
apt_index.append(576)
apt_index

[0, 51, 100, 149, 188, 234, 278, 323, 359, 405, 449, 494, 576]

In [16]:
apt_name = apt_type["项目名称"].tolist()
apt_name

['A-1-2',
 'A-2-2',
 'A-3-2下',
 'A-3-2上',
 'B-1-1',
 'B-2-1',
 'B-3-1下',
 'B-3-1上',
 'C-1-1',
 'C-2-1',
 'C-3-1下',
 'C-3-1上']

In [17]:
for i, (a, b) in enumerate(zip(apt_index, apt_name)):
    data['户型'][apt_index[i]:apt_index[i+1]]=b
    print(i,b)

0 A-1-2
1 A-2-2
2 A-3-2下
3 A-3-2上
4 B-1-1
5 B-2-1
6 B-3-1下
7 B-3-1上
8 C-1-1
9 C-2-1
10 C-3-1下
11 C-3-1上

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [131]:
data = data.drop([0, 51, 100, 149, 188, 234, 278, 323, 359, 405, 449, 494])

## 创建户型的表格

In [18]:
type_number = pd.read_clipboard(index_col =False).T

In [19]:
type_number=type_number.reset_index()

In [20]:
type_number.columns = type_number.iloc[0]

In [21]:
type_number = type_number.iloc[1:]
type_number

0       户型 户数
1    A-1-2  1
2    A-2-2  2
3   A-3-2下  1
4   A-3-2上  1
5    B-1-1  1
6    B-2-1  2
7   B-3-1下  1
8   B-3-1上  1
9    C-1-1  2
10   C-2-1  6
11  C-3-1下  2
12  C-3-1上  2

In [22]:
type_number.to_csv('户数.csv')

In [23]:
processed_data = pd.merge(data, type_number, left_on='户型', right_on='户型', how='left')
processed_data.sample(20)

                      项目名称    工程数量      户型 户数
429  防指纹拉丝不锈钢线条\n 展开宽度b=45  31.97    C-2-1  6
351                  暗式窗帘盒  16.53   B-3-1上  1
45                 隔断底部挡水条   2.55    A-1-2  1
291            1.5厚聚氨酯防水涂料  13.19   B-3-1下  1
378           墙面刮耐水腻子刷无机涂料   3.94    C-1-1  2
307  防指纹拉丝不锈钢线条\n 展开宽度b=55   5.64   B-3-1下  1
246     最薄处20厚1:3水泥砂浆1%找坡层   9.72    B-2-1  2
388  防指纹拉丝不锈钢线条\n 展开宽度b=62   6.68    C-1-1  2
189        地面400*400mm地砖铺贴   5.73    B-1-1  1
323                 B-3-1上     NaN  B-3-1上  1
362        地面800*400mm地砖铺贴   4.36    C-1-1  2
62               地面弧形处水刀切割  24.00    A-2-2  2
374                 楼梯石材地面   2.63    C-1-1  2
40                管道处成品检修口   3.00    A-1-2  1
454                 木地板下找平  40.50   C-3-1下  2
494                 C-3-1上     NaN  C-3-1上  2
106            防指纹拉丝不锈钢踢脚线  74.83   A-3-2下  1
467        墙面砖（900*1800mm）   6.70   C-3-1下  2
83       防水层（立面）1.2厚JS防水涂料   9.52    A-2-2  2
227         顶面刮耐水腻子刷防水无机涂料   8.17    B-1-1  1

In [24]:
groupby_df = processed_data.groupby(['项目名称','户型']).sum()
groupby_df.head(10)

                      工程数量   户数
项目名称        户型
1.5厚聚氨酯防水涂料 A-1-2   16.51   1.0
            A-2-2   16.51   2.0
            A-3-2上  12.46   1.0
            A-3-2下  16.51   1.0
            B-1-1   13.19   1.0
            B-2-1   13.87   2.0
            B-3-1上  12.13   1.0
            B-3-1下  13.19   1.0
            C-1-1   11.61   2.0
            C-2-1   13.81   6.0

In [25]:
groupby_df['工程数量']= groupby_df['工程数量'].astype('float')

In [26]:
groupby_df['总工程量']=groupby_df['工程数量']*groupby_df['户数']

In [27]:
groupby_df.groupby(['项目名称'])['总工程量'].sum()

项目名称
1.5厚聚氨酯防水涂料         296.67
20mm宽地面瓷砖波打线        409.26
30mm厚水泥砂浆楼地面保护层     208.32
40mm宽地面瓷砖波打线        409.26
A-1-2                 0.00
                    ...
零星砌体                  0.33
顶面刮耐水腻子刷无机涂料       2329.49
顶面刮耐水腻子刷防水无机涂料      200.15
顶面吊顶处防指纹拉丝不锈钢线条     912.13
顶面灯带槽               728.57
Name: 总工程量, Length: 62, dtype: float64

In [154]:
processed_data.to_excel('整理后数据.xlsx')